@import "global.css";
.fc-icon, .fc-icon-close, .fc-icon-error, .fc-icon-gallery, .fc-icon-gallery--white, .fc-icon-help, .fc-icon-instant, .fc-icon-instant--error, .fc-icon-left, .fc-icon-move, .fc-icon-note, .fc-icon-right, .fc-icon-settings, .fc-icon-verified, .fc-icon-warning {
    display: inline-block;
    position: relative;
    background-image: url(../images/fc-icons.svg);
    background-size: auto 100%;
    vertical-align: middle;
}
.fc-button-primary {
    background: #fff !important;
    color: grey !important;
    border: solid 1px #E8EAED !important;
}
.fc-button-primary.fc-button-active {
    color: #000 !important;
    font-weight: bold;
}
.fc button .fc-icon {
    position: relative;
    top: -.05em;
    margin: 0 .2em;
    vertical-align: middle;
}
.fc-icon-chevron-right {
    background-position: -1rem;
}
.fc-icon-chevron-left{
    background-position: 0;
}
.fc-icon-chevron-right:before , .fc-icon-chevron-left:before{
    content: '';
}
.fc-next-button, .fc-prev-button, .fc .fc-today-button {
    background: none !important;
    border: none !important;
}
.fc .fc-today-button {
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
}
.fc .fc-today-button:disabled, .fc .fc-today-button:hover {
    background: none;
    border: none;
    color: #7B2DE0;
    text-transform: capitalize;
    font-weight: bold;
}
.fc-timegrid-slot-label-cushion, .fc-col-header-cell-cushion  {
    text-transform: uppercase !important;
    color: #7C8994 !important;
}

.fc .fc-timegrid-axis-cushion, .fc-timeGridWeek-view .fc-scrollgrid-sync-table {
    display: none;
}
.fc-theme-standard .fc-scrollgrid {
    border: none;

}
.fc .fc-toolbar.fc-header-toolbar {
    height: 40px;
    padding-top: 15px;
    position: relative;
}
.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:first-child {
    position: absolute;
    left: 170px;
    top: 15px;
}
.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:first-child h2{
    font-size: 15px !important;
}
.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:last-child {
    position: absolute;
    left: 10px;
    top: 10px;
}
.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    position: absolute;
    right: 20px;
    top: 10px;
}
.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) button{
    text-transform: uppercase;
}
.fc .fc-timegrid-col.fc-day-today , .fc-day-today{
    background: #F4F5FA;
}
th.fc-day-today {
    background: none !important;
}
.fc .fc-view-harness  {
    height: calc(100vh - 180px) !important;
}
.fc-theme-standard td, .fc-theme-standard th {
    border-left: solid 4px #fff !important;
    border-right: solid 4px #fff !important;
}
.fc .fc-timegrid-slot {
    height: 1.9em;
}
.padding-sm {
    padding-left: 10px;
    padding-right:10px;
    min-width: 3rem;
}
.modal-backdrop {
}
.dropdow-menu-lg {
    min-width:250px;
}

#app-container {
    width: 100%;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    /*background: #f5f5f5;*/
}
#app-container .menu-pane {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width:90px;
    background: #F4F5FA;
    transition: width 0.3s ease-in;
    padding: 30px 30px;
    border-right: solid 1px #E0E0E0;
    z-index: 99;
}
.pagination {
    background: none;
}
#app-container .menu-pane .icon-menus {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;

    height: 100vh;
}
#app-container .menu-pane .icon-menus .logo {
    display: block;
    margin: 10px auto;
    width: 40px;
    margin-bottom: 50px;
}
#app-container .menu-pane .icon-menus .logo img{
    width:40px;
    margin: auto;
}
#app-container .menu-pane .icon-menus .logo .dark-logo {
    display: none;
}
#app-container .menu-pane .icon-menus ul {
    padding: 0;
    margin: 0;
}
#app-container .menu-pane .icon-menus ul li {
    padding: 0 10px ;
}
#app-container .menu-pane .icon-menus ul li >  a {
    display: block;
    text-transform: uppercase;
    margin: 10px auto;
    font-size:9px;
}

#app-container .menu-pane .icon-menus ul li > a i {
    font-size:20px;
    display: block;
    width: 40px;
    color: #7f00ff;
    height: 40px;
    padding: 10px 0;
    text-align: center;
    background: #EDEEF7;
    border-radius:10px;
    margin: 0 auto;
    margin-bottom: 7px;
}

#app-container .menu-pane .icon-menus .main {
    margin-top:10px;
    border-top: solid 1px #F5F5F5;
}
#app-container .menu-pane .icon-menus .main li {
    padding: 0;
}
#app-container .menu-pane .icon-menus .main a {
    text-align: center;
    width:100%;
   padding:5px 0;
    font-weight: 500;
    margin: 10px auto;
    color: #000;
}
#app-container .menu-pane .icon-menus .main a.btn {
    width:40px;

}
#app-container .menu-pane .icon-menus .main a.btn i{
    font-size:20px !important;
}
#app-container .menu-pane .icon-menus .main a.active {
    color: #7A2DE0;
}

#app-container .menu-pane .icon-menus .main a.active i {
    background: #7A2DE0;
    color: #ffffff;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 3px rgba(0,0,0,.12),0 4px 15px 0 rgba(0,0,0,.2)!important;
}
#app-container .content-pane {
    width: 100%;
    padding:0;
    padding-left: 90px;
    height: 100vh;
    overflow: hidden;
}
#app-container .content-pane .content-top{
    border-top: solid 1px #E6E6E6;
    border-bottom: solid 1px #E6E6E6;
    padding: 5px 20px;
    position: relative;
    min-height: 40px;
}
#app-container .content-pane .content-top .nav-tabs-scrollable {
    box-shadow: none;
    position: relative;
    top: 6px;
}
#app-container .content-pane .content-top .nav-tabs .nav-link {
    text-transform: capitalize;
}
#app-container .content-pane .content-top .left-actions {
    position: relative;
}
#app-container .content-pane .content-top .right-actions {
    position: absolute;
    right: 20px;
    top: 0px;
}
body {
    overflow: hidden;
}

#app-container .content-pane .content-body {

    overflow: hidden;
    padding: 30px 20px;
}
.empty-result {
    text-align: center;
}
.content-scroller {
    overflow: hidden !important;
    overflow-x: hidden;
    padding-right: 10px;
}
#app-container .content-pane .content-body.with-tabs {
    height: calc(100vh - 160px);
}
.content-scroller.with-tabs-card {
    height: calc(100vh - 200px) !important;
}
.content-scroller.with-tabs-card-footer {
    height: calc(100vh - 250px) !important;
}

#app-container .content-pane .header {
    width:auto;
    position: relative;

}
#app-container .content-pane .header .user-accounts {
    padding-left: 20px;
}
#app-container .content-pane .header .user-accounts a {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    border: solid 3px #F4F5FA;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin: 7px 2px;
}
#app-container .content-pane .header .user-accounts a.active {
    border-color: #7C31D7;
}
#app-container .content-pane .header .user-accounts a img {
    width:100%;
    height: 100%;
}
#app-container .content-pane .header .user-accounts a.add {
    background: #F4F5FA;
    font-size:25px;
    color: #000;
    text-align: center;
    padding: 5px 0;
}

#app-container .content-pane .header ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top:5px;
    right: 20px;
    list-style: none;
}
#app-container .content-pane .header ul li {
    display: inline-block;
    padding: 10px ;
}
#app-container .content-pane .header ul a.account-menu img {
    width:30px;
    height:30px;
    border-radius:100px;
}
#side-filemanager {
    position: relative;
}
#side-filemanager .new-folder-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    z-index: 99;
    color: lightgrey;
}
#side-filemanager .new-folder-btn.active , #side-filemanager .new-folder-btn:hover , #side-filemanager .filter-media-btn:hover, .mini-media-upload-container a:hover{
    color: #7827EA;
}
#side-filemanager .filter-media-btn {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 20px;
    z-index: 99;
    color: lightgrey;
}
.mini-media-upload-container {
    position: relative;
    padding: 0 10px;
    text-align: center;
}
.mini-media-upload-container a {
    font-size: 40px;
    color: lightgrey;
}
.sub-title {
    font-size:15px;
}
.stats-container {
    margin-top: 50px;
}

.stats-container .each {
    width: 100%;
    height: 150px;
    border-radius:10px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='200' preserveAspectRatio='none' viewBox='0 0 400 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1045%26quot%3b)' fill='none'%3e%3crect width='400' height='200' x='0' y='0' fill='rgba(122%2c 45%2c 224%2c 1)'%3e%3c/rect%3e%3cpath d='M0 137.95L10 129.67L20 105.7L30 120.21L40 101.1L50 102.19L60 96.2L70 120.88L80 140.62L90 126.91L100 114.72L110 91.18L120 88.5L130 90.09L140 91.55L150 98.49L160 86.96L170 111.16L180 108.9L190 104.46L200 129.36L210 129.91L220 108.59L230 119.06L240 141.89L250 139.85L260 151.87L270 167.46L280 168.7L290 170.69L300 171.62L310 172.8L320 164.5L330 161.25L340 159.18L350 164.2L360 182.2L370 171.71L380 162.42L390 165.19L400 189.01' stroke='rgba(81%2c 9%2c 79%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 137.95L10 129.67L20 105.7L30 120.21L40 101.1L50 102.19L60 96.2L70 120.88L80 140.62L90 126.91L100 114.72L110 91.18L120 88.5L130 90.09L140 91.55L150 98.49L160 86.96L170 111.16L180 108.9L190 104.46L200 129.36L210 129.91L220 108.59L230 119.06L240 141.89L250 139.85L260 151.87L270 167.46L280 168.7L290 170.69L300 171.62L310 172.8L320 164.5L330 161.25L340 159.18L350 164.2L360 182.2L370 171.71L380 162.42L390 165.19L400 189.01L400 200L0 200z' fill='url(%23SvgjsLinearGradient1046)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1045'%3e%3crect width='400' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1046'%3e%3cstop stop-opacity='0.65' stop-color='rgba(81%2c 9%2c 79%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%23981195' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    padding: 30px;
    color: #ffffff;
    font-weight: bold !important;
}
.stats-container .each.bg-red {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='200' preserveAspectRatio='none' viewBox='0 0 400 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='400' height='200' x='0' y='0' fill='rgba(224%2c 76%2c 45%2c 1)'%3e%3c/rect%3e%3cpath d='M0 72L10 85.96L20 109.52L30 96.31L40 111.7L50 115.53L60 124.82L70 118.93L80 127.76L90 148.17L100 172.59L110 151.9L120 170.19L130 174.91L140 181.94L150 172.64L160 152.24L170 149.65L180 143.72L190 149.89L200 173.82L210 179.84L220 190.71L230 193.7L240 188.01L250 182.85L260 163.92L270 153.49L280 137.96L290 154.11L300 158.46L310 177.44L320 174.63L330 197.79L340 174.66L350 162.29L360 163.85L370 182.17L380 162.91L390 176.12L400 164' stroke='rgba(26%2c 29%2c 2%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 72L10 85.96L20 109.52L30 96.31L40 111.7L50 115.53L60 124.82L70 118.93L80 127.76L90 148.17L100 172.59L110 151.9L120 170.19L130 174.91L140 181.94L150 172.64L160 152.24L170 149.65L180 143.72L190 149.89L200 173.82L210 179.84L220 190.71L230 193.7L240 188.01L250 182.85L260 163.92L270 153.49L280 137.96L290 154.11L300 158.46L310 177.44L320 174.63L330 197.79L340 174.66L350 162.29L360 163.85L370 182.17L380 162.91L390 176.12L400 164L400 200L0 200z' fill='url(%23SvgjsLinearGradient1017)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='400' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1017'%3e%3cstop stop-opacity='0.65' stop-color='rgba(26%2c 29%2c 2%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%23313704' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.stats-container .each.bg-success {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='200' preserveAspectRatio='none' viewBox='0 0 400 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1018%26quot%3b)' fill='none'%3e%3crect width='400' height='200' x='0' y='0' fill='rgba(6%2c 162%2c 57%2c 1)'%3e%3c/rect%3e%3cpath d='M0 72L10 85.96L20 109.52L30 96.31L40 111.7L50 115.53L60 124.82L70 118.93L80 127.76L90 148.17L100 172.59L110 151.9L120 170.19L130 174.91L140 181.94L150 172.64L160 152.24L170 149.65L180 143.72L190 149.89L200 173.82L210 179.84L220 190.71L230 193.7L240 188.01L250 182.85L260 163.92L270 153.49L280 137.96L290 154.11L300 158.46L310 177.44L320 174.63L330 197.79L340 174.66L350 162.29L360 163.85L370 182.17L380 162.91L390 176.12L400 164' stroke='rgba(26%2c 29%2c 2%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 72L10 85.96L20 109.52L30 96.31L40 111.7L50 115.53L60 124.82L70 118.93L80 127.76L90 148.17L100 172.59L110 151.9L120 170.19L130 174.91L140 181.94L150 172.64L160 152.24L170 149.65L180 143.72L190 149.89L200 173.82L210 179.84L220 190.71L230 193.7L240 188.01L250 182.85L260 163.92L270 153.49L280 137.96L290 154.11L300 158.46L310 177.44L320 174.63L330 197.79L340 174.66L350 162.29L360 163.85L370 182.17L380 162.91L390 176.12L400 164L400 200L0 200z' fill='url(%23SvgjsLinearGradient1019)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1018'%3e%3crect width='400' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1019'%3e%3cstop stop-opacity='0.65' stop-color='rgba(26%2c 29%2c 2%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%23313704' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.stats-container .each.bg-yellow {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='200' preserveAspectRatio='none' viewBox='0 0 400 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='400' height='200' x='0' y='0' fill='rgba(203%2c 216%2c 23%2c 1)'%3e%3c/rect%3e%3cpath d='M0 72L10 85.96L20 109.52L30 96.31L40 111.7L50 115.53L60 124.82L70 118.93L80 127.76L90 148.17L100 172.59L110 151.9L120 170.19L130 174.91L140 181.94L150 172.64L160 152.24L170 149.65L180 143.72L190 149.89L200 173.82L210 179.84L220 190.71L230 193.7L240 188.01L250 182.85L260 163.92L270 153.49L280 137.96L290 154.11L300 158.46L310 177.44L320 174.63L330 197.79L340 174.66L350 162.29L360 163.85L370 182.17L380 162.91L390 176.12L400 164' stroke='rgba(26%2c 29%2c 2%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 72L10 85.96L20 109.52L30 96.31L40 111.7L50 115.53L60 124.82L70 118.93L80 127.76L90 148.17L100 172.59L110 151.9L120 170.19L130 174.91L140 181.94L150 172.64L160 152.24L170 149.65L180 143.72L190 149.89L200 173.82L210 179.84L220 190.71L230 193.7L240 188.01L250 182.85L260 163.92L270 153.49L280 137.96L290 154.11L300 158.46L310 177.44L320 174.63L330 197.79L340 174.66L350 162.29L360 163.85L370 182.17L380 162.91L390 176.12L400 164L400 200L0 200z' fill='url(%23SvgjsLinearGradient1021)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='400' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1021'%3e%3cstop stop-opacity='0.65' stop-color='rgba(26%2c 29%2c 2%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%23313704' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.stats-container .each.bg-lightblue {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='200' preserveAspectRatio='none' viewBox='0 0 400 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1022%26quot%3b)' fill='none'%3e%3crect width='400' height='200' x='0' y='0' fill='rgba(23%2c 128%2c 216%2c 1)'%3e%3c/rect%3e%3cpath d='M0 72L10 85.96L20 109.52L30 96.31L40 111.7L50 115.53L60 124.82L70 118.93L80 127.76L90 148.17L100 172.59L110 151.9L120 170.19L130 174.91L140 181.94L150 172.64L160 152.24L170 149.65L180 143.72L190 149.89L200 173.82L210 179.84L220 190.71L230 193.7L240 188.01L250 182.85L260 163.92L270 153.49L280 137.96L290 154.11L300 158.46L310 177.44L320 174.63L330 197.79L340 174.66L350 162.29L360 163.85L370 182.17L380 162.91L390 176.12L400 164' stroke='rgba(26%2c 29%2c 2%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 72L10 85.96L20 109.52L30 96.31L40 111.7L50 115.53L60 124.82L70 118.93L80 127.76L90 148.17L100 172.59L110 151.9L120 170.19L130 174.91L140 181.94L150 172.64L160 152.24L170 149.65L180 143.72L190 149.89L200 173.82L210 179.84L220 190.71L230 193.7L240 188.01L250 182.85L260 163.92L270 153.49L280 137.96L290 154.11L300 158.46L310 177.44L320 174.63L330 197.79L340 174.66L350 162.29L360 163.85L370 182.17L380 162.91L390 176.12L400 164L400 200L0 200z' fill='url(%23SvgjsLinearGradient1023)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1022'%3e%3crect width='400' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1023'%3e%3cstop stop-opacity='0.65' stop-color='rgba(26%2c 29%2c 2%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%23313704' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.stats-container .each.bg-dummy {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='200' preserveAspectRatio='none' viewBox='0 0 400 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1030%26quot%3b)' fill='none'%3e%3crect width='400' height='200' x='0' y='0' fill='rgba(229%2c 232%2c 234%2c 1)'%3e%3c/rect%3e%3cpath d='M0 72L10 85.96L20 109.52L30 96.31L40 111.7L50 115.53L60 124.82L70 118.93L80 127.76L90 148.17L100 172.59L110 151.9L120 170.19L130 174.91L140 181.94L150 172.64L160 152.24L170 149.65L180 143.72L190 149.89L200 173.82L210 179.84L220 190.71L230 193.7L240 188.01L250 182.85L260 163.92L270 153.49L280 137.96L290 154.11L300 158.46L310 177.44L320 174.63L330 197.79L340 174.66L350 162.29L360 163.85L370 182.17L380 162.91L390 176.12L400 164' stroke='rgba(193%2c 193%2c 192%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 72L10 85.96L20 109.52L30 96.31L40 111.7L50 115.53L60 124.82L70 118.93L80 127.76L90 148.17L100 172.59L110 151.9L120 170.19L130 174.91L140 181.94L150 172.64L160 152.24L170 149.65L180 143.72L190 149.89L200 173.82L210 179.84L220 190.71L230 193.7L240 188.01L250 182.85L260 163.92L270 153.49L280 137.96L290 154.11L300 158.46L310 177.44L320 174.63L330 197.79L340 174.66L350 162.29L360 163.85L370 182.17L380 162.91L390 176.12L400 164L400 200L0 200z' fill='url(%23SvgjsLinearGradient1031)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1030'%3e%3crect width='400' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient1031'%3e%3cstop stop-opacity='0.65' stop-color='rgba(193%2c 193%2c 192%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='white' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.stats-container .each.bg-dummy h6 {
    width:100px;
    height:10px;
    background:#F5F5F5;
    border-radius:5px;
}
.stats-container .each.bg-dummy .count {
    width:20px;
    height:20px;
    background: grey;
    border-radius:100px;
}
.stats-container .each i {
    font-size:25px;
}
.stats-container .each .count {
    font-size:50px;
    font-weight: lighter;
}
.box {
    box-shadow: 5px 20px 40px 0 rgba(0,0,0,0.07);
    padding: 30px;
    width: 100%;
    min-height: 200px;
    background: #ffffff;
    border-radius:20px;
}
.search-form {
    background-color: #fff;
    padding: 5px 10px;
    border-radius:15px;
    position: relative;
}
.search-form input,.search-form input:focus,.search-form input:hover {
    border-bottom: none !important;
}

.search-form i {
    position: absolute;
    top: 10px;
    right: 7px;
    font-size:25px;
}
.modern-table {
    width: 100%;
}
.modern-table .table-head .each {
    float: left;
    font-weight: 600;
    font-size: 15px !important;
    color:#000;
    padding: 10px 5px;
}
.modern-table .table-body .table-row  {
    background: #F9FAFB;
    padding: 10px 5px;
    border-radius:5px;
    -webkit-transition: -webkit-box-shadow .2s;
    transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    margin-bottom: 10px;
}
.modern-table .table-body .table-row:nth-child(2n) {
    background: none;
}
.modern-table .table-body .table-row:hover {
    box-shadow: 0 0 30px 10px  rgba(100,100,100,0.1);
    background-color: #fff;
}
.modern-table .table-body .table-row .each {
    float: left;
    font-weight: 500;
    font-size: 12px !important;
    color:#282828;
    padding: 2px 5px;
}
.modern-table .table-body .table-row .each .left {
    display: none;
    width: 50%;
    float: left;
}
.modern-table .table-body .table-row .each .right {
    width:100%;
    float: left;
}
.floating-button {
    position: fixed;
    bottom: 50px;
    right: 40px;
}
.modal-right .modal-dialog {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    height: 100vh;
}
.modal-right .modal-content {
    height: 100vh;
    padding: 50px;
}

.modal-right-lg .modal-dialog {
    max-width:50rem;
}

.no-account-info {
    margin: 50px ;
    text-align: center;
}
.no-account-info p {
    font-size: 15px;
    color: grey;
    font-weight: 600;
    width: 50%;
    margin:20px auto;
}
.side-help h3{
    font-weight: bold;
}
.side-help img {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px ;
}
.pane-container {
    width: 100%;
    position: relative;
    height: calc(100vh - 114px);
}
.pane-container .pane-left {
    position: absolute;
    top: 0;
    padding: 7px;
    width: 330px;
    border-right: solid 1px #F6F6F6;
    height: 100%;
    z-index: 99;
}
.pane-container .pane-left .title-container {
    height: 60px;
    border-bottom: solid 1px #E6E6E6;
}
.pane-container .pane-right {
    position: relative;
    padding-left: 330px;
    width: 100%;
    height: 100%;
}
.grid-container {
    width: 100%;
}
.grid-container .each-container {
    width:25%;
    float: left;
    padding-right:15px;
}
.grid-container .each-container .each {
    width:100%;
    border: solid 1px #F6F6F6;
    height: 200px;
    border-radius:10px;
    display: block;
    margin-bottom: 15px;
}
.grid-container .each-container .each:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px 0 rgba(0,0,0,.2)!important;

}
.grid-container .each-container .each-add {
    background: #ffffff;
    text-align: center;
    padding: 40px 0;
    color:#130523;
}

.grid-container .each-container .each-add i {
    font-size:100px;

}
.grid-container .each-container .each-account {
    padding: 0;
    height: auto;
    position: relative;
}
.grid-container .each-container .each-account .custom-checkbox {
    position: absolute;
    left: 15px;
    top: 15px;
}
.grid-container .each-container .each-account .dropleft {
    position: absolute;
    right: 10px;
    top: 5px;
}
.grid-container .each-container .each-account .dropleft > a {
    font-size:25px;
    color: #000;
}
.grid-container .each-container .each-account .account-media {
    width:120px;
    height: 120px;
    border-radius:100px;
    background-position:center;
    background-size:cover;
    margin: 20px auto;
    position: relative;
}
.grid-container .each-container .each-account .account-media div{
    position: absolute;
    bottom: -20px;
    margin: auto;
    text-align: center;
    width: 100%;
}
.grid-container .each-container .each-account .account-media div .badge{
    font-size:15px;
    font-weight: 600;
    padding: 5px 15px;
}
.grid-container .each-container .each-account .info {
    text-align: center;
    margin-top: 0px;
}
.grid-container .each-container .each-account .each-footer {
    position: relative;
    background: #F4F5FA;
    width: 100%;
    margin-top:15px;
}
.grid-container .each-container .each-account .each-footer .list-group-item {
    box-shadow: none;
    background: none;
}
.account-dropdown {
    width: 300px;
    padding-bottom: 0;
    margin-top: 15px;
}
.account-add-startup a {
    display: block;
    padding:35px 10px ;
    position: relative;
    color: grey;
   
}
.account-add-startup a:first-child {
    border-bottom: solid 1px #F6F6F6;
}
.account-add-startup a i {
    font-size:40px
}
.account-add-startup a div {
    position: absolute;
    padding-left: 50px;
    top: 40px;
}
.account-add-startup a div span {
    display: block;
}
.account-add-startup a div span.title {
    font-weight: bold;
}
.account-add-startup a:hover {
    background: #F6F6F6;
}
.account-add-startup a:hover div span.title {
    color: #000;
}
.digit-group {
    margin: 20px 0;
}
.digit-group input {
    width: 13.2%;
    height: 70px;
    background-color: #fff;
    border: solid 1px grey;
    border-radius:5px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: #000000;
    margin: 0 2px;
}
.bold {
    font-weight: bold !important;
}
.digit-group input::-webkit-inner-spin-button,
.digit-group input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.digit-group .splitter {
    padding: 0 5px;
    color: grey;
    font-size: 24px;
}


.account-add-second-step {
    display: none;
}
.social-accounts-menu{
    width:250px;
    left:50px !important;
    top: -40px !important;
}
.avatar-container {
    padding: 30px 0;
}
.avatar-container .img-container {
    width:100px;
    height: 100px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius:100px;
}
.emojionearea.focused {
    border-color: rgba(255,62,127,.6);
    box-shadow: none;

}
img.emojione {
    width:21px;
    margin: -.2ex .15em .2ex;
    line-height: normal;
    vertical-align: middle;
}
.text-editor-placeholder .holder {
    width:100%;
    height: 110px;
    overflow: auto;
    overflow-x: hidden;
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding: 6px 24px 6px 12px;
    position: relative;
    font-weight: 300;

}
.text-editor-placeholder .holder .img-button {
    position: absolute;
    top: -15px;
    right: 2px;
    width:30px;
    height:25px;
}
.text-editor-placeholder textarea {
    display: none;
    height:110px;
}
.folder-color-chooser {
    margin-top: 20px;
}
.folder-color-chooser label {
    margin-bottom: 10px !important;
}
.folder-color-chooser label.active{
    border:solid 2px #000000;
}
.hide {
    display: none;
}
.files-grid {
    width: 100%;
    height: calc(100vh - 180px);

    overflow: auto;
    overflow-x: hidden;
}
.files-grid .each-container {
    width: 14.28%;
    float: left;
    padding-right:15px;
}
.files-grid .each-container .each {
    background: #fff;
    border-radius:3px;
    height:130px;
    margin-bottom: 20px;
    background-size:cover;
    background-position: center;
    position: relative;
    transition: border .3s;

}
.files-grid .each-container .each .video-content {
    border-radius:3px;
    overflow: hidden;
}
.files-grid .each-container .each .the-content {
    position: absolute;
    top: 0;
    display: none;
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    border-radius:3px;
    padding: 10px;
    padding-right: 0;
}
.files-grid .each-container .each .the-content .menu {
    font-size:20px;
    color: #ffffff;
}
.files-grid .each-container .each:hover  .the-content, .files-grid .each-container .each.selected  .the-content {
    display: block;
}
.files-grid .each-container .each.selected {
    border: solid 5px #E9DCFA;
}
.files-grid .each-container .each .the-content .badge {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.nav-tabs-scrollable .nav-link:hover {
    background: none !important;
}
.files-grid .each-container .each-back {
    display: block;
    font-size:60px;
    color: grey;
    text-align: center;
    padding: 30px 0;
}
.files-grid .each-container .each-folder {
    padding: 20px 10px;
    display: block;
}
.files-grid .each-container .each-folder h6 {
    text-align: center;
    margin: 10px 0;
    color: grey;
}
.files-grid .each-container .each-folder .folder-icon {
    position: relative;
    width:100px;
    height:50px;
    margin: auto;
    margin-bottom:4px;
}
.files-grid .each-container .each-folder .folder-icon .bottom {
    width: 100px;
    height: 50px;
    padding-top: 0px;
    position: relative;
    text-align: center;
}

.files-grid .each-container .each-folder .folder-icon .bottom:after {
    content: " ";
    width: 50px;
    height: 35px;
    border-radius: 0 5px 5px 5px;
    display: block;
    background-color: #0DB2E1;
    position: absolute;
    top: 15px;
    left: 25px;
}

.files-grid .each-container .each-folder  .folder-icon .bottom:before {
    content: " ";
    width: 25px;
    height: 5px;
    border-radius: 5px 15px 0 0;
    display: block;
    background-color: #0DB2E1;
    position: absolute;
    top: 10px;
    left: 25px;
}
.each-select-account {
    width: 100%;
    height: 100vh;

}
.account-selector-list .each {
    position: relative;
    margin:5px 0 ;
    border-radius:3px;
    padding: 3px ;
    display: block;
}
.account-selector-list .each:hover, .account-selector-list .each.active {
}
.account-selector-list .each .custom-control {
    position: absolute;
    left: 0px;
    top: 0px;
}
.account-selector-list .each .media {
    padding-left: 30px;
}
.account-selector-list .each h6 {
    font-size: 12px;
    color: grey;
    font-weight: 300;
}
.account-selector-list .each.active h6, .account-selector-list .each:hover h6 {
}
.file-drag-drop-container {
    border: dashed 1px lightgrey;
    height: 250px;
    border-bottom: none;
    text-align: center;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
}
.file-drag-drop-container i {
    font-size:150px !important;
    color: #F5F5F5;
}
.external-file-chooser {
    border: dashed 1px lightgrey;
    height: 70px;
    padding: 20px;
    color: grey;
}
.external-file-chooser .btn {
    padding-top: 5px;
    font-size:20px;
}
.selected-media-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    overflow-y: hidden;
    height: 150px;
    padding: 10px 0;

}
.selected-media-container .each {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    border: solid 1px lightgrey;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
.selected-media-container  .each video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.selected-media-container  .each .close {
    position: absolute;
    z-index: 99;
}
.post-editor-menu a {
    text-align: left;
}
.post-editor-menu a i, .post-editor-menu a  span {
    display: inline-block;
}
.post-editor-menu a i {
    font-size: 25px;
    position: relative;
    top: -5px;
    margin-right: 5px;
}
.post-editor-menu a  span {
    color: grey;
    font-size: 11px;
    text-transform: capitalize;
}
.post-editor-menu a  span h6 {
    text-transform: uppercase;
    margin: 2px 0;
    color: grey;
    font-weight: bold;
}
.post-editor-menu a.active, .post-editor-menu a:active, .post-editor-menu a.nav-link:hover, .post-editor-menu a:focus {
    background: #E5E5E5 !important;
    border-bottom: none !important;
}
.post-editor-menu a.active::before, .post-editor-menu a::before {
    display: none;
}
.post-editor-menu a.active{
    color: #8D12F4 !important;
}
.post-editor-menu a.active h6 {
    color: #000;
}
.post-buttons {
    position: relative;
    margin-top: 30px;
    width: 100%;
    left: 0;
    padding: 0;
}
.post-buttons .btn-group {
    width: 50%;
}
.post-buttons .btn {
    margin: 0;
    font-weight: bold;
}
.post-buttons .btn-light {
    color: grey;
}
.posts-action-toggle label {
    font-size:12px;
}
.post-preview {
    height: 420px;
}
.container-1200 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
}
.post-preview .instagram-post-header {
    padding: 10px 20px;
    position: relative;
}
.post-preview .instagram-post-header .avatar {
    width:30px;
    height: 30px;
    border-radius:100px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #F5F5F5;
}
.post-preview .instagram-post-header .header-info {
    padding-left: 40px;
}
.post-preview .instagram-post-header .header-info div, .post-preview .instagram-post-caption div {
    width: 100%;
    height: 10px;
    background: #F5F5F5;
    margin-bottom: 7px;
}
.post-preview .instagram-post-content {
    height: 240px;
    background:  #F5F5F5;
    border-top: solid 1px #E5E5E5;
    border-bottom: solid 1px #E5E5E5;
}
.post-preview .preview-images-container .each {
    width: 100%;
    height: 240px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.preview-images-container .carousel-indicators li {
    width:12px;
    height: 12px;
    border: none;
    background: #fff;
}
.preview-images-container .carousel-indicators li.active {
    background:#000;
}
.post-preview .instagram-post-caption {
    padding: 10px 20px;
}
.video-instagram-post {
    background: #000;
    width: 100%;
    height: 100%;
}
.post-editor-container {
    position: relative;
    min-height: 100px;
}
.post-editor-container textarea {
    min-height: 110px !important;
}
.post-editor-container .editor-insert-btn-container {
    position: absolute;
    top: 30px;
    right: 7px;
}
.post-editor-container a {
    display: block;
    margin-bottom:0px;
    font-size:20px;
    color: grey;
}
.color-white {
    color: #ffffff !important;
}
#fileManagerModal  .each-container {
    width:20%;
}
.border-none {
    border:none;
}
.list-post-preview {
    width:200px;
    max-width:100%;
    height: 200px;
    margin: 15px auto;
}
.list-post-preview .carousel-item {
    width:100%;
    height: 200px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.post-list-links {
    margin: auto;
}
.post-list-links a{
    display: block;
    margin-bottom: 10px;
}
.post-list-links a i {
    width: 25px;
    font-size: 17px;
}
#postPreviewModal .modal-dialog {
    max-width: 20rem;
}
#accounts-container .list-container {
    display: none;
}
.accounts-container-list .grid-container {
    display: none;
}
.accounts-container-list .list-container {
    display: block !important;
}
.avatar-sm-round {
    width:40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius:100%;
}
.account-list-statistic {
    position: relative;
    width: 100%;
}
.account-list-statistic .each-stat {
    float: left;
    width:33.3%;
    text-align: center;
}
.selected-account-mark {
    position:absolute;
    top:-7px;
    text-align:center;
    right:0px;
    width:20px;
    height: 20px;
    background:#fff;
    border-radius:100px;
    border: solid 1px #7B2DE0;
    font-size:9px;
    padding: 3px
}
.side-medias {
    padding: 10px 10px;
    padding-right: 0;
}
.side-medias .each-container {
    width:33.3%;
    padding-right: 5px;
}
.side-medias .each-container .each {
    height: 90px;
    margin-bottom: 5px;
}
.side-medias .each-container .each.each-folder i {
    font-size: 25px;
}
.side-medias .each-container .each.each-folder h6 {
    text-align: left !important;
    font-size: 10px;
}
.side-collections-container {
    width: 100%;
    height: calc(100vh - 195px);
    background: #fff;
    z-index: 999;
    display: none;
    position: relative;
}
.side-collections-container .head {
    padding: 10px 0;
    font-size: 17px;
    font-weight: bold;
}
.side-collections-container .head i {
    font-size:19px
}
.side-collections-container .collection-list {
    max-height: calc(100% - 80px);
    border-left: solid 1px #D3D3D3;
}
.side-collections-container .foot {
    border-top: solid 1px #F1F3F4;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    color: grey;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.collection-list {

}
.collection-list .each {
    display: block;
    width: 100%;
    padding: 7px 2px;
    border-radius:4px;
    color: grey;
    font-size: 13px;
    position: relative;
}
.collection-list .each:hover {
    background: #F1F3F4;
}
.collection-list .each .line {
    width:10px;
    border-top: solid 1px #D3D3D3;
    display: inline-block;
    position: relative;
    bottom: 7px;
}
.collection-list .each .color {
    display: inline-block;
    width:15px;
    height: 15px;
    font-size: 20px  !important;
    margin-right: 15px;
}
.collection-list .each .text {
    position: relative;
    display: inline-block;
    bottom: 3px;
}
.collection-list .each .count {
    position: absolute;
    right: 10px;
    top: 10px;
}
@media(max-width:800px) {
    .modern-table .table-body .table-row .each .left {
        display: block;
    }
    .modern-table .table-body .table-row .each .right {
        width:50%;
    }
}

@media(min-width: 1400px) {

}